services:
  bot:
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env.staging
    depends_on:
      - db
      - redis
    restart: unless-stopped
    ports:
      - "8080:8080"
